<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
   	http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
   	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
   	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
   	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

   <import resource="spring-dataSource.xml"/>

   <bean id="startTime" class="com.yisi.stiku.statbg.param.DateParam">
     <property name="time" value="-10"/>
     <property name="timeUnit" value="DAYS"/>
   </bean>
   
   <bean id="testUserDel" class="com.yisi.stiku.statbg.sql.ModifySqlStat">
     <property name="dataSource" ref="resultDataSource" />
     <property name="orderNO" value="0" />
     <property name="outputKey" value="rsDelRs" />
     <property name="sql">
       <value>
	       <![CDATA[
	          delete from test_user 
	       ]]>
       </value>
     </property>
   </bean>
   
   <bean id="batStat" class="com.yisi.stiku.statbg.bat.Sql2SqlStat">
     <property name="srcDataSource" ref="stikuDataSource" />
     <property name="targetDataSource" ref="resultDataSource" />
     <property name="orderNO" value="1" />
     <property name="batchSize" value="3" />
     <property name="outputKey" value="batMapRs" />
     <property name="selectSql">
       <value>
	       <![CDATA[
	          select id , real_name name from tbl_auth_user limit 3
	       ]]>
       </value>
     </property>
     <property name="insertSql">
       <value>
	       <![CDATA[
	          insert into test_user(sid, nick, state) values(${id}, ${name}, 0)
	       ]]>
       </value>
     </property>
   </bean>
   
</beans>
