<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
   	http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
   	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
   	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
   	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

   <import resource="spring-dataSource.xml"/>

   <bean id="startTime" class="com.yisi.stiku.statbg.param.DateParam">
     <property name="time" value="-10"/>
     <property name="timeUnit" value="DAYS"/>
   </bean>
   
   <bean id="logDel" class="com.yisi.stiku.statbg.sql.ModifySqlStat">
     <property name="dataSource" ref="walletDataSource" />
     <property name="orderNO" value="0" />
     <property name="outputKey" value="unionDelRs" />
     <property name="sql">
       <value>
	       <![CDATA[
	          delete from log_tbl where create_time = ${startTime}
	       ]]>
       </value>
     </property>
   </bean>
   
   <bean id="singleRegexLogStat" class="com.yisi.stiku.statbg.log.SingleRegexListLogStat">
     <property name="orderNO" value="4" />
     <property name="outputKey" value="logParsedRs" />
     <property name="logFileDir" value="/tmp/logs"/>
     <property name="fileNameFilter" value="detail_${startTime}.log" />
     <property name="lineRegex" value="tm\((.*)\)ip\((.*)\)mjid\((.*)\)ml\((.*)\)mc\((.*)\)mcps\((.*)\)dm\((.*)\)uri\((.*)\)rf\((.*)\)ag\((.*)\)fw\((.*)\)args\((.*)\)ot\((.*)\)" />
   </bean>
   
   <bean id="logInsert" class="com.yisi.stiku.statbg.sql.ModifySqlStat">
     <property name="dataSource" ref="unionDataSource" />
     <property name="orderNO" value="5" />
     <property name="outputKey" value="logInsertRs" />
     <property name="sql">
       <value>
         <!--
	       <![CDATA[
	          insert into log_tbl(tm, uri, domain, referer, create_time)
	           values(${logParsedRs.tm},
	                ${logParsedRs.uri}, ${logParsedRs.dm}, ${logParsedRs.rf},${startTime})
	       ]]>
	        -->
	        
	        <![CDATA[
	          insert into log_tbl(tm, uri, domain, referer, create_time)
	           values(${logParsedRs.0},
	                ${logParsedRs.7}, ${logParsedRs.6}, ${logParsedRs.8},${startTime})
	       ]]>
	       
       </value>
     </property>
   </bean>
   
</beans>
