<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
   	http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
   	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
   	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
   	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

   <import resource="spring-dataSource.xml"/>

   <bean id="startTime" class="com.yisi.stiku.statbg.param.DateParam">
     <property name="time" value="-10"/>
     <property name="timeUnit" value="DAYS"/>
   </bean>
   
   <bean id="logFileTime" class="com.yisi.stiku.statbg.param.DateParam">
     <property name="time" value="-4"/>
     <property name="pattern" value="yyyyMMdd"/>
   </bean>
   
   <!-- <bean id="testUserDel" class="com.yisi.stiku.statbg.sql.ModifySqlStat">
     <property name="dataSource" ref="resultDataSource" />
     <property name="orderNO" value="0" />
     <property name="outputKey" value="rsDelRs" />
     <property name="sql">
       <value>
	       <![CDATA[
	          truncate table test_problem 
	       ]]>
       </value>
     </property>
   </bean>
   
   <bean id="batStat" class="com.yisi.stiku.statbg.bat.Sql2SqlStat">
     <property name="srcDataSource" ref="stikuDataSource" />
     <property name="targetDataSource" ref="resultDataSource" />
     <property name="orderNO" value="1" />
     <property name="batchSize" value="2000" />
     <property name="outputKey" value="batMapRs" />
     <property name="selectSql">
       <value>
	       <![CDATA[
	          select problem_id , is_grasp, index_no,do_problem_time, student_id from tb_homework_problem
	       ]]>
       </value>
     </property>
     <property name="insertSql">
       <value>
	       <![CDATA[
	          insert into test_problem(id, problem_id , is_grasp, index_no,do_problem_time, student_id) values(0, ${problem_id}, ${is_grasp}, ${index_no}, ${do_problem_time}, ${student_id})
	       ]]>
       </value>
     </property>
   </bean> -->
   
   <bean id="testUserDel" class="com.yisi.stiku.statbg.sql.ModifySqlStat">
     <property name="dataSource" ref="resultDataSource" />
     <property name="orderNO" value="0" />
     <property name="outputKey" value="rsDelRs" />
     <property name="sql">
       <value>
	       <![CDATA[
	          truncate table xn_log 
	       ]]>
       </value>
     </property>
   </bean>
   
   <!-- <bean id="logBatStat" class="com.yisi.stiku.statbg.bat.ListLineLog2SqlStat">
     <property name="targetDataSource" ref="resultDataSource" />
     <property name="orderNO" value="1" />
     <property name="batchSize" value="2000" />
     <property name="logFileDir" value="D://var"/>
     <property name="fileNameFilter" value="web-jy_${logFileTime}.txt" />
     <property name="lineRegex" value="(\d{4}-\d{2}-\d{2}\s\d{2}:\d{2}:\d{2})\s\d+\s(\d+)\s(\w+)\s([\-_\w]+)\s(\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\s(.*)\s(\d+)" />
     <property name="insertSql">
       <value>
	       <![CDATA[
	          insert into xn_log(id, project_name , create_time, trace_msg_id, type, server_ip, method, cost_time) 
	            values(0, ${3}, ${0}, ${1}, ${2}, ${4}, ${5}, ${6})
	       ]]>
       </value>
     </property>
   </bean> -->
   
   <bean id="logBatStat" class="com.yisi.stiku.statbg.bat.MapLineLog2SqlStat">
     <property name="targetDataSource" ref="resultDataSource" />
     <property name="orderNO" value="1" />
     <property name="batchSize" value="2000" />
     <property name="logFileDir" value="D://var"/>
     <property name="outputKey" value="lbsRs" />
     <property name="fileNameFilter" value="web-*_${logFileTime}.txt" />
     <property name="lineRegex" value="ct\((\d{4}-\d{2}-\d{2}\s\d{2}:\d{2}:\d{2})\)time\(\d+\)msgId\((\d+)\)type\((\w+)\)pn\(([\-_\w]+)\)ip\((\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\)mt\((.*)\)ctime\((\d+)\)" />
     <property name="insertSql">
       <value>
	       <![CDATA[
	          insert into xn_log(id, project_name , create_time, trace_msg_id, type, server_ip, method, cost_time) 
	            values(0, ${lbsRs.pn}, ${lbsRs.ct}, ${lbsRs.msgId}, ${type}, ${ip}, ${mt}, ${ctime})
	       ]]>
       </value>
     </property>
   </bean>
   
   
   
</beans>
