<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
   	http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
   	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
   	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
   	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

   <import resource="spring-dataSource.xml"/>

   <bean id="statDate" class="com.yisi.stiku.statbg.param.DateParam">
     <property name="time" value="-1"/>
   </bean>

   <bean id="dateTransverter" class="com.yisi.stiku.statbg.transverter.DateStrTransverter">
     <property name="orderNO" value="0" />
     <property name="targetKey" value="statDate" />
     <property name="pattern" value="yyyyMMdd"/>
     <property name="outputKey" value="logFileTime" />
   </bean>
   
   
   <bean id="pagetimeLogDel" class="com.yisi.stiku.statbg.sql.ModifySqlStat">
     <property name="dataSource" ref="resultDataSource" />
     <property name="orderNO" value="0" />
     <property name="sql">
       <value>
	       <![CDATA[
	          truncate table pagetime_log 
	       ]]>
       </value>
     </property>
   </bean>
   
   <bean id="logBatStat" class="com.yisi.stiku.statbg.bat.MapLineLog2SqlStat">
     <property name="targetDataSource" ref="resultDataSource" />
     <property name="orderNO" value="1" />
     <property name="batchSize" value="2000" />
     <property name="logFileDir" value="D:/var/www"/>
     <property name="fileNameFilter" value="stlog_${logFileTime}.log" />
     <property name="lineRegex" value="^[se]\s+tm\((\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2})\+08:00\)ip\((\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3})\)dm\((.*)\)ai\((.*)\)loc\(([^']*)\)src\((.*)\)tk\((.*)\)tl\((.*)\)ot\(([^']*)\).*" />
     <property name="insertSql">
       <value>
	       <![CDATA[
	          insert into pagetime_log(id, enter_time , ip, domain, access_id, location, src, token, title, other) 
	            values(0, ${tm}, ${ip}, ${dm}, ${ai}, ${loc}, ${src}, ${tk}, $urldecode(${tl}), ${ot})
	       ]]>
       </value>
     </property>
   </bean>
   
   <!-- <bean id="xnLogStatDel" class="com.yisi.stiku.statbg.sql.ModifySqlStat">
     <property name="dataSource" ref="resultDataSource" />
     <property name="orderNO" value="2" />
     <property name="sql">
       <value>
	       <![CDATA[
	          delete from xn_log_stat where stat_date = ${statDate}
	       ]]>
       </value>
     </property>
   </bean>
   
   <bean id="xnLogStatSelect" class="com.yisi.stiku.statbg.sql.SelectMapLineSqlStat">
     <property name="dataSource" ref="resultDataSource" />
     <property name="orderNO" value="3" />
     <property name="outputKey" value="methodRs" />
     <property name="sql">
       <value>
	       <![CDATA[
	          select project_name projectName, method, type mType, count(1) totalCnt, avg(cost_time) avgTime, max(cost_time) maxTime, min(cost_time) minTime
	           from xn_log group by project_name, method
	       ]]>
       </value>
     </property>
   </bean>
   
   <bean id="xnLogStatInsert" class="com.yisi.stiku.statbg.sql.ModifySqlStat">
     <property name="dataSource" ref="resultDataSource" />
     <property name="orderNO" value="4" />
     <property name="sql">
       <value>
	       <![CDATA[
	          insert into xn_log_stat(id, stat_date, project_name, method, m_type, total_cnt, avg_time, max_time, min_time) 
	              values(0, ${statDate}, ${methodRs.projectName}, ${methodRs.method}, ${methodRs.mType}, ${methodRs.totalCnt}, ${methodRs.avgTime}, ${methodRs.maxTime}, ${methodRs.minTime})
	       ]]>
       </value>
     </property>
   </bean> -->
   
</beans>
